<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title= title
body
	h1= message
	ul
		li.fit-api-status
			| #{ fitApiStatus } 
		li.fit-data-time
		li.fit-data-heart
		li.fit-data-sleep
		li.hue-bridge-status
		li.hue-light-count